@import "bootstrap/scss/bootstrap";

// Général

body {
	background-color: rgb(31, 31, 31);
	color: white;
}

// Navigation

nav {
	background-color: rgb(31, 31, 31);
	font-size: 1.2em;
}

.navbar-nav, .nav-link.active {
	color: red !important;
}

// Page d'accueil
.Accueil {
	text-align: center;
}

#accueilimg {
	width: 20%;
}


// Carrousel

// .carousel-item {
// 	margin-left: 20vw;
// }

#suggestion {
	text-align: center;
	font-weight: bold;
	color: red;
}

.carousel-inner img {
	height: 40em !important;
}

.carte {
	text-align: center;
}

.imgCard {
	height: 17em !important;
}

// Restaurantcard

.restaurant-link{
	text-decoration: none;
}

.description {
	text-align: justify;
	overflow: hidden;
	display: -webkit-box;
   -webkit-line-clamp: 2; /* nombre de ligne visible */
    line-clamp: 2; 
  	-webkit-box-orient: vertical;
}	

// RestaurantRow

.rowcarte {
	text-align: justify;
}

// Produit

// #affiche {
// 	max-width: 630px;
// }

// PlatCard

#affiche {
	width: 30%;
}

@media screen and (max-width: 768px) {
	.presentation figure {
		width: 100%;
	}
	
}

.presentation{
	display: flex;
	justify-content: center;
}

#prix {
	font-weight: bold;
}

// Panier

.Panier {
	text-align: justify;
}

#Total {
	text-align: center;
	font-weight: bold;
	font-size: 1.4em;
}

#Total span {
	color: red;
}
